<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>817546613027-6ht4njob3qkcbqlkkaj0flrqdkftnk6h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.817546613027-6ht4njob3qkcbqlkkaj0flrqdkftnk6h</string>
	<key>API_KEY</key>
	<string>AIzaSyA6fZKTikvQiSmnU3dWoNcNaLsCBJ5Pktg</string>
	<key>GCM_SENDER_ID</key>
	<string>817546613027</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.patientApp</string>
	<key>PROJECT_ID</key>
	<string>patitentflutter</string>
	<key>STORAGE_BUCKET</key>
	<string>patitentflutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:817546613027:ios:14368d93b7bb78192ebc96</string>
	<key>DATABASE_URL</key>
	<string>https://patitentflutter-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>